@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #ffff;
    border-bottom:solid 1px grey;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2rem;
    height:50px;
  }

.text-menu {
    display: flex;
    justify-content: space-between;
  }

.text-menu a{
    font-size: 12px;
    text-decoration: none;
    color: #212429;
    padding: 1rem
  }

.text-menu a:hover {
  font-style: oblique;
  font-weight: 700;
}
  
.icon-menu {
    display: flex;
  }
  
.icon-menu img {
    padding: 1rem;
  }
   
h1{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    padding: 1rem;
}

.grid {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
  }

.article-image{
    border-radius: 10px;
    max-width: 200px;
}

.article-item{
    margin: 8px;
    padding: 16px;
}

.article-item :hover {
  transform: scale(0.9)
}

.article-text{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
}

.article-price{
    font-weight: 700;
}

footer {
    background-color: #212429;
  }
  
.footer-links {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    color: #ffffff;
  }

.footer-links a{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
  }
  
.footer-links a:hover {
    font-style: oblique;
    font-weight: 700;
  }

.footer-item {
    display: flex;
    align-items: center;
  }
  
.footer-icon {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
  }

@media (max-width: 920px) {
    
    header {
        background-color: #ffff;
        display: flex;
        justify-content:center;
        align-items: center;
        border-bottom:solid 1px grey;
      }

    .grid {
      grid-template-columns: 1fr;
    }

    .text-menu {
        display: none;
      }

    .icon-menu {
        display: none;
      }

    .footer-links {
        align-items: start;
    }

    .footer-item {
        padding: 1rem;
        border-bottom:solid 1px #ffffff;
      }

 }